AIRTABLE_API_KEY="super.extreme.extend.large.text.with.api.key.you.should.never.share"
BASE_ID="R4nD0mCh4r@act3r5_0"
TABLE_ID_ONE="R4nD0mCh4r@act3r5_1"
TABLE_ID_TWO="R4nD0mCh4r@act3r5_2"
TABLE_ID_THREE="R4nD0mCh4r@act3r5_3"